body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(172, 117, 248, 0.966);
  font-weight: bold;
}

code {
  font-family: "Fira Code", monospace;
  text-align: left !important;
}
span:hover {
  cursor: default;
}
